/* GRID */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 100px auto 100px; /* columnas */
    grid-template-columns: 1fr 2fr 1fr 1fr; /* columnas */
    grid-template-columns: repeat(12, 1fr); /* columnas */
    grid-template-columns: 600px 1fr 1fr; /* columnas */
    grid-template-rows: 100px auto 100px; /* filas */
    grid-template-rows: repeat(12, 1fr); /* filas */
    grid-template-rows: 80px 200px 100px; /* filas */
    height: 500px;
    gap: 5px 10px; /* calles entre filas y columnas */ /* 1er valor horizontal y 2do valor vertical */
}

.grid-item{
    /* background-color: orange; */
    border: 1px solid black;
}

.grid-container .grid-item:first-child{
    background-color: orange;
    grid-column: 1/4;
}

.grid-container .grid-item:nth-child(2){
    background-color: orchid;
    grid-column: 1/2;
    grid-row: 2/4;
}