section{
    &.noticias{
        background-color: aquamarine;
        h1{
            font{
                font-family: sans-serif;
                font-weight: 700;
                font-variant: normal;
                font-style: normal;
            }
        }
    }
}